# PostgreSQL (DB temen via Tailscale)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=ekonomi_db
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432

# Airflow
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin123
AIRFLOW_EMAIL=admin@example.com

APP_ENV=development
LOG_LEVEL=INFO