# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=IPBD_Kel3
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Airflow Admin
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin123
AIRFLOW_EMAIL=admin@example.com

# App Environment
APP_ENV=development
LOG_LEVEL=INFO