# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
data/features/*

# folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Streamlit
.streamlit/

# Build
dist/
build/
*.egg-info/

# Database
*.sqlite3